@media (max-width: 640px) {
    .paddingTB{
        padding: 10px 0;
    }
    #contactUs .contactUsBox .formBox form{
        width: 320px;
    }
    #contactUs .contactUsBox .formBox form .bottomLine label{
        font-size: 12px;
    }

}
@media (min-width:640px) and (max-width: 768px) {
    .paddingTB{
        padding: 10px 0;
    }
}

@media (min-width: 768px) and (max-width:992px){
    #works .worksBox .worksCol .colImgContainer{
        width: 300px;
        height: 215px;
    }
    .paddingTB{
        padding: 30px 0;
    }
}

@media (min-width: 992px) and (max-width:1200px) {
}
@media (min-width: 1200px) and (max-width:1400px) {
    .paddingTB{
        padding: 10px 0;
    }
}